@model ArticleReadDto

@{
}

<style>

    .article-content p {
    text-align: justify
}

.theme-color {
    color: @ViewData["ThemeColor"];
}

.code-border {
    font-family: Consolas;
    color: rgb(57, 57, 57);
    padding: 2px;
    border: solid 1px rgb(215, 215, 215);
    background-color: rgb(215, 215, 215);
    border-radius: 5px;
}

    .code-border:hover {
        color: @ViewData["ThemeColor"];
        font-weight: bold;
    }

    .note{
    padding: 4%;
    background-color: rgb(227, 227, 227);
    border-radius: 5px;
    border-left: 1rem solid @ViewData["ThemeColor"];
}

</style>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="ftco-animate fadeInUp ftco-animated mb-5">
                    <span class="d-flex justify-content-between category d-block">
                        <a asp-action="GetArticlesByCategoryId" asp-controller="Articles" asp-route-id="@Model.CategoryId" class="h6" style="color: @ViewData["ThemeColor"]">@Model.CategoryName.ToUpper()</a>
                        <div class="half order-md-last h-5">
                            <p class="meta">
                                <span><i class="icon-eye mr-2"></i>@Model.ReaderCount</span>
                            </p>
                        </div>
                    </span>
                    <div class="d-flex justify-content-between">
                        <h2 class="mb-3 font-weight-bold mr-3">@Model.Header</h2>
                        <span>@Model.CreateDate.ToString("dd MMMM yyyy")</span>
                    </div>

                    <hr />

                    <div class="article-content">@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Content))</div>

                </div>

                @*@await Component.InvokeAsync("Comment")*@
            </div>
            <div class="col-lg-4 sidebar ftco-animate fadeInUp ftco-animated">

                @await Component.InvokeAsync("Categories")

                @await Component.InvokeAsync("LastArticles", new { length = 5 })

                @*@await Component.InvokeAsync("Contact")*@

                @*@await Component.InvokeAsync("Archive")*@

            </div>
        </div>
    </div>
</section>